.quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: grey;
    color: white;
}

h1 {
    font-size: 1.75rem;
    text-align: center;
}

.quiz__content {
    display: inherit;
    align-items: center;
    flex-flow: column wrap;
}

.quiz__question {
    width: 600px;
}

.quiz__answers {
    width: 600px;
}

.quiz__answers__btn {
    width: 100%;
    background-color: white;
    color: black;
    border: 2px solid white;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 8px;
}

.quiz__answers__btn:hover {
    opacity: 0.6;
    cursor: pointer;
    transition: 0.3s;
}